<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="法政大学小金井鉄道研究会(小金井鉄研)の公式ページです。1953年から法政大学小金井キャンパスで活動している歴史ある公認サークルで、会誌「マイロネフ」の発行や、合宿などを楽しんでいます。">
        <title><%= title %> | 法政大学小金井鉄道研究会</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div class="frame">
            <div class="title">
                <h1 class="logo"><a href="/">法政大学小金井鉄道研究会</a></h1>
            </div>