<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="法政大学小金井鉄道研究会の公式ページです。1953年から法政大学小金井キャンパスで活動している歴史ある公認サークルで、会誌「マイロネフ」の発行や、合宿などを楽しんでいます。">
        <title><%= title %> | 法政大学小金井鉄道研究会</title>
    </head>
    <body>
        <div class="frame">
            
            <a href="/"><div class="title"><!-- タイトル写真 900x200px -->
                <h1 class="logo">法政大学小金井鉄道研究会</h1>
            </div></a>