<%- include('partial/header.ejs.html', {title: '当会の紹介'}); %>
<p><a href="/">法政大学小金井鉄道研究会公式ページ</a> ↪ <a href="about.html">当会の紹介</a></p>

<div class="pdl">
    <div class="frame3a">
        <h2>当会の紹介</h2>
        <p>法政大学小金井鉄道研究会は、鉄道や旅を趣味とする学生の集まりです。1953年創立の歴史ある公認サークルです。文化系サークルを管轄する法政大学小金井キャンパス文化連合に加盟しています。略称は法政小金井鉄研、KRC(Koganei Rail Club)などです。法政大学に在籍している人なら誰でも参加できます。</p>
        <ol>
            <li>旅行が好きな人、やってみたい人</li>
            <li>模型を作るのが好きな人、やってみたい人</li>
            <li>調べごとが好きな人、やってみたい人</li>
            <li>鉄道に関心がある人</li>
        </ol>
        <p>大歓迎です。
        年会費・入会金はありません。また、当会は「自由」を原則としています。サークルでよくある面倒なことはほとんどありません。疑問・質問等も受け付けておりますのでお気軽にどうぞ。皆様からのアプローチを、会員一同、心よりお待ちしています。</p>
    </div>

    <div class="frame3a">
        <h2>活動内容</h2>
        <h4>てっけんツアーの企画、参加</h4>
        <p>自分たちで企画した鉄道・観光関係の日帰り旅行を楽しみます。2010年度から始まり、2016年度は以下の活動を行いました。</p>
        <ul>
            <li>5月：<a href="http://hrck.blog.shinobi.jp/%E3%81%A6%E3%81%A3%E3%81%91%E3%82%93%E3%83%84%E3%82%A2%E3%83%BC/2016%E5%B9%B4%E5%BA%A6%E6%96%B0%E6%AD%93%E3%83%84%E3%82%A2%E3%83%BC%E5%AE%9F%E6%96%BD">2016年度新歓ツアー(京王線)</a></li>
            <li>6月：<a href="http://hrck.blog.shinobi.jp/%E3%81%A6%E3%81%A3%E3%81%91%E3%82%93%E3%83%84%E3%82%A2%E3%83%BC/%E6%B1%9F%E3%83%8E%E9%9B%BB%E3%83%84%E3%82%A2%E3%83%BC">江ノ電ツアー</a></li>
        </ul>
        <p>なお、当会の原則に則り自由参加ですが、参加するときっと楽しいですよ!</p>

        <h4>会誌「マイロネフ」の制作・発行(例年10月発行、それまでの数ヶ月ほどで執筆)</h4>
        <p>⇒詳しくは<a href="mairo.html">会誌マイロネフ</a>をご覧ください。</p>
        <p>小金井鉄研では会誌を発行しています。あなたの書いた記事が載せられます。<br>
        「あの車両の動向なら誰にも負けない!」という方や、「とりあえず自分がいつも使っている中央線について感じたことを書いてみよう」という方まで、
        記事として成立するなら何でもアリです。そのため、自由参加ながらメンバーはほぼ全員書いています。<br>
        また、現役とOBの記事をまとめてるスタイルをとっているので、OBの方の記録等、貴重な記事と一緒に載ります。しかも、そんな記事をほかの皆よりも早く見られます。<br>
        例年、日本最大の同人誌即売会「コミックマーケット」の鉄道ジャンルで頒布するので、コミケのサークル参加側の体験もできます。<br>
        さらに、日本全国の鉄道研究会と会誌の交換をしているので、部室にはたくさんの鉄研の会誌があります。全国の大学鉄研の研究や動向を知るのも楽しいですね。</p>

        <h4>夏合宿(8月頃)</h4>
        <p>てっけんツアーの拡大版として遠出をします。市ヶ谷鉄道研究会と合同で合宿をすることもあり、より多くの人と出会えます。<br>
        <a href="http://hrck.blog.shinobi.jp/%E3%81%A6%E3%81%A3%E3%81%91%E3%82%93%E3%83%84%E3%82%A2%E3%83%BC/2016%E5%A4%8F%E5%90%88%E5%AE%BF%E3%80%80%E2%80%95%E4%B9%9D%E5%B7%9E-%E5%BA%83%E5%B3%B6%EF%BC%88%E5%B2%A1%E5%B1%B1%EF%BC%89%E2%80%95">2016年度夏合宿</a>は福岡・広島へ行ってきました。<br>
        また、2017年度の夏合宿は四国をまわりました。<br>
        ここでもまた仲間達の意外な一面が見られるかもしれません。</p> 

        <h4>学園祭「<a href="http://koganeisai.com/">小金井祭</a>」への出展(11月上旬)</h4>
        <p>学園祭では、鉄道模型の運転や写真の展示などを行っています。各自、自慢の品を発表することができます。<br>
        さらに、2017年から新レイアウトプロジェクトが始動! 大きなレイアウトを作成中です。各自、学園祭に向けて思い思いの情景を作っています。工作に不慣れな方でも周りに教えてもらいながら自由な作品が作れます。<br>
        また、マイロネフ新刊のお披露目はこの日です。新刊・既刊ともに頒布を行います。</p>

        <h4>大規模イベント(不定期)</h4>
        <p>不定期に大規模なイベントを開催しています。たとえば2007年6月にはEF58形61号機を先頭にした臨時列車を走らせました。2014年6月には<a href="http://hrck.blog.shinobi.jp/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88%E9%96%8B%E5%82%AC%E5%A0%B1%E5%91%8A/60%E5%91%A8%E5%B9%B4%E8%A8%98%E5%BF%B5%E5%88%97%E8%BB%8A%E9%81%8B%E8%A1%8C">伊豆急クモハ103貸切列車を走らせました。</a><br>
        夢をお持ちの方は、ぜひ入って企画を実現させてください。OBの皆さんもサポートしてくれます。
        </p>
        
        <h4>OB会との懇親会(年に1～2回)</h4>
        <p>OBの方の貴重なお話を聞ける機会です。お話とはいっても堅苦しいものではなく、和気あいあいと自分の持ちネタを振って盛り上がるだけです。
        年配の方から若い方まで、皆気さくな方ばかりです。</p>

        <h4>部室内活動</h4>
        <p>部室にいる際は、皆でだらだら鉄道談義をしたり、てっけんツアーの企画を行っていたりします。<br>
        文化祭に向けた鉄道模型レイアウト制作を行うこともあります。そのほか、鉄道DVD鑑賞会、BVE(運転シミュレーター)運転会などもします。</p>
    </div>

    <div class="frame3a">
        <h2>Q&amp;A</h2>
        <h4>活動紹介の中で出てきた、「市ヶ谷鉄道研究会」って?</h4>
        <p><a href="http://1st.geocities.jp/yutorief58/">法政大学市ヶ谷鉄道研究会</a>は、私たち小金井鉄道研究会と姉妹関係にあるサークルです。<br>
        理系文系とキャンパスが分かれているので、鉄道研究会も二つに分かれているだけです。<br>
        基本的に仲良しなので、「法政大学鉄道研究会」として、イベントや夏合宿を合同開催しています。<br>
        なお、多摩キャンパスには鉄道研究会がないので、小金井か市ヶ谷に所属することになります。</p>
        
        <h4>OB会「マイロネフクラブ」って?</h4>
        <p>OB会「マイロネフクラブ」は、法政大学、そしてこの小金井鉄道研究会に所属していた方たちが、交流を目的として運営している会です。<br>
        車両基地見学などのイベントを主催してくださったり、鉄研運営の支援をしてくださる頼もしい方々です。</p>
        
        <h4>サークルの雰囲気は?</h4>
        <p>基本的にアットホームでまったりしています。<br>
        また、小金井キャンパスの工学部時代が長かったため、会員はOBを含めほとんどが工学部です。<br>
        そのためか、信号や配線、鉄道模型においては電気関係など、技術的なこともやります。<br>
        会の原則が「自由」なため、上下関係もゆるく、親しみやすいサークルです。</p>

        <h4>最後に、小金井鉄道研究会のいいところは?</h4>
        <p>部室の充実した鉄道系の資料類、すばらしいOBのと部員のみなさん、そして人が少ないのですぐ幹部になれる! 鉄道が好きだったり、ちょっと好きな皆さん、ぜひご参加ください。</p>
    </div>
</div>

<%- include('partial/footer.ejs.html') %>
