<%- include('partial/header.ejs.html', {title: 'トップページ'}) %>
    <ul class="top">
	<li><a href="/about.html">当会の紹介</a></li>
	<li><a href="/mairo.html">会誌マイロネフ</a></li>
	<li><a href="https://koganeirail.booth.pm/">マイロネフ販売ページ</a></li>
    </ul>
      
      
    <div class="frame4" id="twitter">
        <a class="twitter-timeline"  href="https://twitter.com/h_k_tekken" data-widget-id="256350446388645890">@h_k_tekkenさんのツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="frame3">
        <h2 class="top">法政大学小金井鉄道研究会について</h2>
	<p>法政大学小金井鉄道研究会は、法政大学小金井キャンパスで1953年より活動している公認サークルです。主に会誌「マイロネフ」の発行、レイアウト(ジオラマ)の制作、合宿などをしています。</p>
	<p>法政大学小金井学生団体支援委員会文化連合、関東学生鉄道研究会連盟に加盟しています。</p>
    </div>
    <div class="frame3">
        <h2 class="top">Join</h2>
	<p>法政大学小金井鉄道研究会では鉄道に関心のある学生が集い、さまざまな企画を楽しんでおります。鉄道好きの方、学生時代に何かやり遂げたい方、一緒に活動しませんか？法政大学に通う方なら、いつでも、どなた様でもご入会いただけます。詳しくは<a href="./about.html">当会の紹介</a>をご覧ください。</p>
	<p>少しでも興味のある方は、メールやTwitterでお問い合わせいただくか、部室棟1階にある部室までお越しください。新入生だけでなく、2年生以上の方も歓迎です。</p>
    </div>
    <div class="frame4">
        <h2 class="top">Link</h2>
        <a href="http://hrck.blog.shinobi.jp/">てっけん's ぶろぐ(当会ブログ)</a></br><br>
        <a href="http://1st.geocities.jp/yutorief58/">市ヶ谷鉄道研究会</a><br><br>
    </div>
    <div class="frame3">
        <h2 class="top">Contact</h2>
	<p>お問い合わせは k_houtetsu@hotmail.co.jp までお願いします。</p>
    </div>
    <div class="frame3">
        <h2 class="top">OB &amp; OG</h2>
	<p>OB会（マイロネフクラブ）へメールでのお問い合わせは maironefu@gmail.com までお願いします。</p>
    </div>
      
<%- include('partial/footer.ejs.html') %>
