<%- include('partial/header.ejs.html', {title: 'マイロネフ59号'}) %>
<%- include('partial/mairo_bread.ejs.html', {vol: 59}) %>

<%- include('partial/mairo_page.ejs.html', {
    color: 'deepskyblue',
    vol: 59,
    publish: {'year': 2010, 'month': 12},
    feature: '特集 ローカル線の駅',
    pages: 44,
    hasSample: true,
    samples: 5,
    introduction: '今回の特集は趣向を変えて「駅」をテーマにしました。いろいろな列車に乗ったとしても、数多くの駅は通り過ぎてしまいますが、あえて降りてみることによってその駅、その駅の雰囲気を感じることができるのではないかと思います。今の様子をこのマイロネフに載せることで、記録の一つにもなるのではないでしょうか。<br>例年のように、柔らかい記事から堅い記事まで取り揃えました。このマイロネフ59号から皆さんがいろいろなことを感じ、また楽しんいただければ幸いです。',
    feature_subjects: [
        '魅惑の駅舎 因美線',
        '飯田線の駅',
        '夏草や兵どもが夢のあと',
    ],
    personal_subjects: [
        '山手線のホームドア設置について',
        '蒸気を追って調兵山へ',
        '鉄道ブームと鉄道ファンについて',
        'JR東日本 秋田車両センターを訪ねて',
        '小さな機関車・第五話',
        '幻でなかった、茅沼炭化工業の8119との出会い',
        '麻布校舎時代 思い出の中の都電',
        '鉄道写真 ネガフィルムのデジタル化報告',
        'Topics',
    ],
    hasSpecial: false,
    hasSellPage: false,
}) %>

<%- include('partial/footer.ejs.html') %>
