<% var vol = 60; %>
<%- include('partial/header.ejs.html', {title: `マイロネフ${vol}号`}) %>
<%- include('partial/mairo_bread.ejs.html', {vol: vol}) %>

<%- include('partial/mairo_page.ejs.html', {
    color: 'deeppink',
    vol: vol,
    publish: {'year': 2011, 'month': 11},
    feature: '特集 京浜急行',
    pages: 98,
    hasSample: true,
    samples: 5,
    introduction: '今回は東京都と神奈川県を走る京浜急行を特集しました。羽田空港への輸送、川崎大師への輸送、京浜間の輸送、そして三浦半島への観光など、様々な面を見せる鉄道です。また、独特の車両やダイヤで全国のファンを魅了しています。<br>また、60号ということで、それを記念してOBの方々に「60」に関連する記事を寄稿していただきました。往年の貴重な写真もたっぷりと収めてあります。往年のファンの方には懐かしさを感じていただけるかと思います。一方で、若い世代には新鮮に感じることも多いのではないでしょうか。',
    feature_subjects: [
        '時代の流れとともに変化した京浜急行空港線',
        '２つの京急ローカル支線',
        'クハ157 変形車両',
    ],
    personal_subjects: [
        '伊豆箱根鉄道 大場工場見学',
        '秘境駅を訪れて',
        '長野電鉄屋代線 各駅停車',
        '東日本大震災で被災した石巻港駅',
        '津波にも流されなかった機関車',
        '小さな機関車第６話',
        '写真から見た断片的鉄道事情',
        'Topics',
        'てっけんツアー報告',
    ],
    hasSpecial: true,
    special_title: '60号記念記事',
    special_subjects: [
        'マイロネフのあゆみ',
        '江ノ電600形の思い出',
        '1960年代に活躍していた車両たち',
        '私が出会った60・600・6000形たち',
        'D60と600型',
    ],
    hasSellPage: false,
}) %>

<%- include('partial/footer.ejs.html') %>
