<%- include('partial/header.ejs.html', {title: 'マイロネフ61号'}) %>

<%- include('partial/mairo_bread.ejs.html', {vol: 61}) %>

<%- include('partial/mairo_page.ejs.html', {
    color: 'green',
    vol: 61,
    publish: {'year': 2012, 'month': 11},
    feature: '特集 閑散路線',
    pages: 124,
    hasSample: true,
    samples: 5,
    introduction: '今回は閑散路線ということで、都会の閑散路線から、営業係数が高い赤字閑散路線まで、さまざまな閑散路線を特集しました。編集中に、集まった原稿を見ると様々な閑散路線があることにあらためて驚かされました。<br>他の記事も、運転士と車掌という列車運行の最前線を担う業務を体験した感想や、京王線の地下化工事といった設備系の記事、珍しい新車ガイド的な記事、はては鉄道車両に用いられる電線の種類に関する記事等、浅い部分から深い部分までバラエティー豊かな記事が収録されていますので、様々な方に楽しんでいただけるはずです。',
    feature_subjects: [
        '北の大地の小さな駅',
        '南武線浜川崎支線をめぐる',
        '東京都交通局 浅草線(泉岳寺～西馬込)',
        '十和田観光電鉄を訪ねて北東北周遊',
        '上武鉄道を訪ねた日',
        '閑散路線の苦い歴史と現実',
    ],
    personal_subjects: [
        '駅めぐりの楽しみと手法',
        '京王線地下化について',
        '東京地下鉄 1000系電車',
        '伊豆箱根鉄道 1100系赤電塗装 運転体験に参加して',
        'リニア・鉄道館 車掌シミュレータ体験記',
        'ぷらすあるふぁ「珍しい入場券」',
        '鉄道車両に使われている電線の話',
        'Topics',
        'てっけんツアー報告',
    ],
    hasSpecial: false,
    hasSellPage: false,
}) %>

<%- include('partial/footer.ejs.html') %>
