<% var vol = 62; %>
<%- include('partial/header.ejs.html', {title: `マイロネフ${vol}号`}) %>
<%- include('partial/mairo_bread.ejs.html', {vol: vol}) %>

<%- include('partial/mairo_page.ejs.html', {
    color: 'red',
    vol: vol,
    publish: {'year': 2013, 'month': 11},
    feature: '特集 1980年以降に開業した鉄道',
    pages: 132,
    hasSample: true,
    samples: 5,
    introduction: 'ローカル線といえば過去の遺物、そう思ってしまいがちですが、日本では10年ほど前の2002年までローカル線が作られ続けてきました。鉄道路線というのは建設された時代を色濃く感じさせるもので、時代を反映した近代的なローカル線に乗ってみるのもよいものです。<br>また、今回は合宿の成果として七尾線・のと鉄道の全駅の取材をしました。',
    feature_subjects: [
        '1980年以降の新線開業',
        '多摩都市モノレール',
        '千葉都市モノレール',
        '営団・東京地下鉄駅デザインの変遷',
        '金沢シーサイドラインと沿線状況',
        '七尾線各駅停車の旅',
    ],
    personal_subjects: [
        '奥羽本線全線踏破と北海道',
        '首都圏に残る183・189系',
        '過去ネタまとめて蔵出し写真館',
        'Topics',
        'てっけんツアー報告',
    ],
    hasSpecial: false,
    hasSellPage: false,
}) %>

<%- include('partial/footer.ejs.html') %>
