<% var vol = 64; %>
<%- include('partial/header.ejs.html', {title: `マイロネフ${vol}号`}) %>
<%- include('partial/mairo_bread.ejs.html', {vol: vol}) %>

<%- include('partial/mairo_page.ejs.html', {
    color: '#ed8e00',
    vol: vol,
    publish: {'year': 2014, 'month': 11},
    feature: '特集 大都市圏の環状鉄道',
    pages: 108,
    hasSample: true,
    samples: 5,
    introduction: '大都市圏の環状鉄道といえば、他線との接続駅が多いものやその接続路線の多さから多数の貨物列車が走行する路線などを特集しています。最近はこういった路線に力を入れる会社もあります。<br>また、今回は伊豆急行線にて運行した小金井鉄道研究会60周年記念列車についても特集しています。<br><a href="mairo_files/m64_teisei.pdf">内容に関して訂正がございます。大変申し訳ありません。</a>',
    feature_subjects: [
        '横浜線に接続する鉄道路線',
        'メガループの優等列車',
        '愛知環状鉄道',
    ],
    personal_subjects: [
        '伊豆急行線各駅停車',
        'THE FINAL SEASON of series 189',
        '相模線各駅停車',
        '旅してみよう新潟編',
        '予土線各駅停車',
        '三陸鉄道北リアス線島越駅周辺の近況',
        'てっけんツアー報告',
        'Topics'
    ],
    hasSpecial: true,
    special_title: '特集2 60周年記念列車運転',
    special_subjects: [],
    hasSellPage: true,
    selluri: 'https://koganeirail.booth.pm/items/682930',
}) %>

<%- include('partial/footer.ejs.html') %>
