<%- include('partial/header.ejs.html', {title: 'マイロネフ65号'}) %>
<style type="text/css">
img.cover{
	border: 1px outset #33F; /* 背表紙の色に合わせる */
}
h2{	background-color: #33F; /* 背表紙の色に合わせる */
	color: white;
}
</style>
<%- include('partial/mairo_bread.ejs.html', {vol: 65}) %>
<h2>マイロネフ65号</h2>
<section>
<img src="mairo_files/m65.png" alt="マイロネフ 65号" class="cover" height="285" width="200">
<div class="floatBox">
<p>2015年11月発行</p>
<p><b>特集 新交通システム</b></p>
<p>B5版 104ページ</p>
<p><a href="https://koganeirail.booth.pm/items/682913">販売ページ</a></p>
</div>

<h3>内容</h3>
<article>
<p>今回の特集は“新交通システム”です。関東にある新交通システムを特集しております。<br>
また、今回は夏合宿・冬合宿についても特集しております、<br>
<a href="mairo_files/m65_teisei.pdf">内容に関して訂正がございます。大変申し訳ありません。</a></p>

<h4>特集 新交通システム</h4>
<ul>
<li>東京モノレール</li>
<li>ゆりかもめ</li>
</ul>
<h4>個人記事</h4>
<ul>
<li>2015 冬合宿 in 名古屋</li>
<li>夏合宿報告</li>
<li>江ノ島電鉄各駅停車</li>
<li>ダイヤグラムの話</li>
<li>信越山線 最後の春<sub>～信越山線の最後を飾った列車たち～</sub></li>
<li>2015年在京各社ダイヤ改正のあらまし</li>
<li>BVE5から学ぶ保安装置</li>
<li>マルス50年<sub>～印字技術の発展ときっぷ面の面白さ～</sub></li>
<li>長野県 木曾開発の恩人 ロコモチーブを語る</li>
<li>那珂川清流鉄道訪問ツアーを開催</li>
<li>てっけんツアー報告</li>
<li>Topics</li>
</ul>
</article>
<h3>本文サンプル</h3>
<article>
<a href="mairo_files/sample/M65_1.jpg"><img src="mairo_files/sample/M65_1s.jpg" alt="本文サンプル1" class="cont" height="285" width="400"></a>
<a href="mairo_files/sample/M65_2.jpg"><img src="mairo_files/sample/M65_2s.jpg" alt="本文サンプル2" class="cont" height="285" width="400"></a>
<a href="mairo_files/sample/M65_3.jpg"><img src="mairo_files/sample/M65_3s.jpg" alt="本文サンプル3" class="cont" height="285" width="400"></a>
<a href="mairo_files/sample/M65_4.jpg"><img src="mairo_files/sample/M65_4s.jpg" alt="本文サンプル4" class="cont" height="285" width="400"></a>
<a href="mairo_files/sample/M65_5.jpg"><img src="mairo_files/sample/M65_5s.jpg" alt="本文サンプル5" class="cont" height="285" width="400"></a>
</article>

<%- include('partial/footer.ejs.html') %>
