<% var vol = 65; %>
<%- include('partial/header.ejs.html', {title: `マイロネフ${vol}号`}) %>
<%- include('partial/mairo_bread.ejs.html', {vol: vol}) %>

<%- include('partial/mairo_page.ejs.html', {
    color: '#33f',
    vol: vol,
    publish: {'year': 2015, 'month': 11},
    feature: '特集 新交通システム',
    pages: 104,
    hasSample: true,
    samples: 5,
    introduction: '今回の特集は“新交通システム”です。関東にある新交通システムを特集しております。<br>また、今回は夏合宿・冬合宿についても特集しております。<br><a href="mairo_files/m65_teisei.pdf">内容に関して訂正がございます。大変申し訳ありません。</a>',
    feature_subjects: [
        '東京モノレール',
        'ゆりかもめ',
    ],
    personal_subjects: [
        '2015 冬合宿 in 名古屋',
        '夏合宿報告',
        '江ノ島電鉄各駅停車',
        'ダイヤグラムの話',
        '信越山線 最後の春<sub>～信越山線の最後を飾った列車たち～</sub>',
        '2015年在京各社ダイヤ改正のあらまし',
        'BVE5から学ぶ保安装置',
        'マルス50年<sub>～印字技術の発展ときっぷ面の面白さ～</sub>',
        '長野県 木曾開発の恩人 ロコモチーブを語る',
        '那珂川清流鉄道訪問ツアーを開催',
        'てっけんツアー報告',
        'Topics',
    ],
    hasSpecial: false,
    hasSellPage: true,
    selluri: 'https://koganeirail.booth.pm/items/682913',
}) %>

<%- include('partial/footer.ejs.html') %>
