<%- include('partial/header.ejs.html', {title: 'マイロネフ66号'}) %>
<%- include('partial/mairo_bread.ejs.html', {vol: 66}) %>

<%- include('partial/mairo_page.ejs.html', {
    color: '#0F0',
    vol: 66,
    publish: {'year': 2016, 'month': 11},
    feature: '特集 相互直通運転',
    pages: 96,
    hasSample: true,
    samples: 5,
    introduction: '今回の特集は“相互直通運転”です。首都圏の各社相互直通運転~、南は名古屋の相互直通運転まで各地の相互直通運転を特集しております。<br>その他、各地路線の話題などがてんこ盛りです。<br>また、今回も夏合宿・冬合宿についても特集しております。',
    feature_subjects: [
        '埼玉から横浜へ―5社直通運転',
        '<sub>東京メトロ</sub>千代田線',
        '都営浅草線',
        '名古屋鉄道・名古屋市交通局',
    ],
    personal_subjects: [
        '明治村訪問記',
        'LED方向幕あれこれ',
        '五能線の話題2016',
        'JR東海の気動車について',
        '急行はまなす 客車と編成あれこれ',
        '冬合宿2016 四国を巡る旅',
        '2016夏合宿@福岡 広島',
        '小金井鉄研単独夏合宿報告@飯田線・名古屋鉄道',
        '関東学鉄連団臨参加記',
        'てっけんツアー報告',
        'Topics',
    ],
    hasSpecial: false,
    hasSellPage: true,
    selluri: 'https://koganeirail.booth.pm/items/682893',
}) %>

<%- include('partial/footer.ejs.html') %>
