<%- include('partial/header.ejs.html', {title: 'マイロネフ66号'}) %>
<style type="text/css">
img.cover{
	border: 1px outset #0F0; /* 背表紙の色に合わせる */
}
h2{	background-color: #0F0; /* 背表紙の色に合わせる */
	color: white;
}
</style>
<%- include('partial/mairo_bread.ejs.html', {vol: 66}) %>
<h2>マイロネフ66号</h2>
<section>
<img src="mairo_files/m66.jpg" alt="マイロネフ 66号" class="cover" height="285" width="200">
<div class="floatBox">
<p>2016年11月発行</p>
<p><b>特集 相互直通運転</b></p>
<p>B5版 96ページ</p>
<p><a href="https://koganeirail.booth.pm/items/682893">販売ページ</a></p>
</div>

<h3>内容</h3>
<article>
<p>今回の特集は“相互直通運転”です。首都圏の各社相互直通運転~、南は名古屋の相互直通運転まで各地の相互直通運転を特集しております。<br>
その他、各地路線の話題などがてんこ盛りです。<br>
また、今回も夏合宿・冬合宿についても特集しております。<br>
</p>

<h4>特集 相互直通運転</h4>
<ul>
<li>埼玉から横浜へ―5社直通運転</li>
<li><sub>東京メトロ</sub>千代田線</li>
<li>都営浅草線</li>
<li>名古屋鉄道・名古屋市交通局</li>
</ul>
<h4>個人記事</h4>
<ul>
<li>明治村訪問記</li>
<li>LED方向幕あれこれ</li>
<li>五能線の話題2016</li>
<li>JR東海の気動車について</li>
<li>急行はまなす 客車と編成あれこれ</li>
<li>冬合宿2016 四国を巡る旅</li>
<li>2016夏合宿@福岡 広島</li>
<li>小金井鉄研単独夏合宿報告@飯田線・名古屋鉄道</li>
<li>関東学鉄連団臨参加記</li>
<li>てっけんツアー報告</li>
<li>Topics</li>
</ul>
</article>
<h3>本文サンプル</h3>
<article>
<a href="mairo_files/sample/M66_1.jpg"><img src="mairo_files/sample/M66_1s.jpg" alt="本文サンプル1" class="cont" height="285" width="400"></a>
<a href="mairo_files/sample/M66_2.jpg"><img src="mairo_files/sample/M66_2s.jpg" alt="本文サンプル2" class="cont" height="285" width="400"></a>
<a href="mairo_files/sample/M66_3.jpg"><img src="mairo_files/sample/M66_3s.jpg" alt="本文サンプル3" class="cont" height="285" width="400"></a>
<a href="mairo_files/sample/M66_4.jpg"><img src="mairo_files/sample/M66_4s.jpg" alt="本文サンプル4" class="cont" height="285" width="400"></a>
<a href="mairo_files/sample/M66_5.jpg"><img src="mairo_files/sample/M66_5s.jpg" alt="本文サンプル5" class="cont" height="285" width="400"></a>
</article>

<%- include('partial/footer.ejs.html') %>
