<% var vol = 67; %>
<%- include('partial/header.ejs.html', {title: `マイロネフ${vol}号`}) %>
<%- include('partial/mairo_bread.ejs.html', {vol: vol}) %>

<%- include('partial/mairo_page.ejs.html', {
    color: '#38CEFF',
    vol: vol,
    publish: {'year': 2017, 'month': 11},
    feature: '特集 魅惑の第3セクター',
    pages: 106,
    hasSample: false,
    introduction: '',
    feature_subjects: [
        '長良川鉄道',
        'いすみ鉄道',
        'ひたちなか海浜鉄道',
        '水島臨海鉄道',
    ],
    personal_subjects: [
        'JR北海道のマヤ34を撮りに行った話',
        '相鉄の連続立体交差事業について',
        '人、砂利、紙の集まった飯田町駅',
        '京都・大阪旅行記',
        'TC型無線式列車接近警報装置を理解する',
        '鉄道模型“狂”奏曲',
        '鉄道を撮るために台湾に行った話',
        '缶バッチの改造について',
        '木曾森林鉄道',
        '切符は語る',
        '2017年活動報告',
        'Topics',
    ],
    hasSpecial: false,
    hasSellPage: true,
    selluri: 'https://koganeirail.booth.pm/items/682856',
}) %>

<%- include('partial/footer.ejs.html') %>
