<%- include('partial/header.ejs.html', {title: '会誌 マイロネフ'}) %>

<p><a href="/">法政大学小金井鉄道研究会公式ページ</a> ↪ <a href="mairo.html">会誌「マイロネフ」について</a></p>

<h3>会誌「マイロネフ」について</h3>
<div class="aboutmairo">
    <img src="mairo_files/mairo.png" alt="マイロネフ ロゴ">
    <div>
        <p>「マイロネフ」は、法政大学小金井鉄道研究会で発行している会誌です。</p>
        <p>内容は主に紀行・紹介・解説・評論など、会員の個性を生かして毎回多種多様な記事が掲載されます。また、創立60年を超える当会の、豊富なOBの方々にも寄稿いただいています。毎年11月に開催される小金井祭に合わせて、年に1回発行しています。</p>
        <p>ISSN 1881-7106 国会図書館収蔵</p>
    </div>
</div>

<div class="frame3">
    <h3>命名の理由</h3>
    <div id="maironefu381">
        <img src="mairo_files/ronefu.jpg" alt="マイロネフ381" id="m381">
        <p><b>マイロネフ381</b></p>
        <p>1・2等寝台合造の緩急車。編成端へ連結が可能なように、車掌室を設けたが、片方のデッキをうずめ、内方に車掌室扉を設けた車両で豪華であった。 <br>
        (鉄道ファン 1998年9月号より)</p>
    </div>
    <p>マイロネフは客車の形式名で、昭和初期に活躍した車両です。「<b>マ</b>」は重さ(42.5～47.5ｔ)、「<b>イ</b>」は1等車、「<b>ロネ</b>」は2等寝台（のちのA寝台に相当）、「<b>フ</b>」は緩急車を表しています。つまり、1・2等寝台、車掌室を備えた客車ということです。</p>
    <p>いろいろな記事を寝転がって読めるような肩のこらない会誌という意味を込め、昭和35/1960年に鉄道研究会(旧称：鉄道趣味の会)の会誌のタイトルとして名付けられました。</p>
    <p>また、マイロネフの名称は当会OB会の愛称「マイロネフクラブ」にも採用されています。</p>
</div>

<div class="frame3">
    <h3>お求めについて</h3>
    <h4>イベントでの販売</h4>
    <p>毎年11月に開催される、<a href="http://koganeisai.com/">大学祭(小金井祭)</a>で販売いたします。定価よりも廉価で頒布していますので、ぜひお越しください。<br>
    また、近年は日本最大の同人誌即売会の<a href="http://www.comiket.co.jp/">コミックマーケット</a>に毎回出展し、そちらでも頒布(販売)しております。2017年冬コミ(C93)においても3日目 東S59bに出展します。</p>

    <h4>通信販売</h4>
    <p><a href="https://koganeirail.booth.pm/">通販サイトBOOTH</a>にて販売しております。<br>
    BOOTHにて掲載していないバックナンバーも多数在庫しております。お問い合わせはメール( k_houtetsu@hotmail.co.jp )もしくは下記住所へご連絡下さい。<br>
    〒184-8584 東京都小金井市梶野町3-7-2 法政大学 小金井鉄道研究会<br>
    鉄道研究系団体には無償提供いたします。希望される団体の方はご連絡ください。</p>
</div>

<h3>既刊紹介</h3>
<%- include('partial/mairo_list.ejs.html',
    {
        new_item: true,
        vol: 67,
        pub_year: 2017,
        price: 1000,
        feature: "特集 魅惑の第3セクター",
        subjects: [
            "長良川鉄道、いすみ鉄道<sub>他</sub>",
            "2017年活動報告",
            "現役会員執筆記事、人、砂利、紙の集まった飯田町駅、ほか",
        ],
        out_of_stock: false,
    }
) %>

<%- include('partial/mairo_list.ejs.html',
    {
        new_item: false,
        vol: 66,
        pub_year: 2016,
        price: 700,
        feature: "特集 相互直通運転",
        subjects: [
            "副都心線関連直通、名古屋鉄道の直通<sub>他</sub>",
            "夏合宿・冬合宿報告",
            "現役会員執筆記事、LED方向幕あれこれ、ほか",
        ],
        out_of_stock: false,
    }
) %>

<%- include('partial/mairo_list.ejs.html',
    {
        new_item: false,
        vol: 65,
        pub_year: 2015,
        price: 700,
        feature: "特集 新交通システム",
        subjects: [
            "東京モノレール、ゆりかもめ",
            "夏合宿・冬合宿報告",
            "現役会員執筆記事、江ノ電各駅停車、ほか",
        ],
        out_of_stock: false,
    }
) %>

<%- include('partial/mairo_list.ejs.html',
    {
        new_item: false,
        vol: 64,
        pub_year: 2014,
        price: 700,
        feature: "特集 大都市圏の環状鉄道",
        subjects: [
            "横浜線に接続する鉄道路線、メガループの優等列車、愛知環状鉄道",
            "伊豆急行線貸切列車運転報告",
            "現役会員執筆記事、東武博物館訪問記、ほか",
        ],
        out_of_stock: false,
    }
) %>

<%- include('partial/mairo_list.ejs.html',
    {
        new_item: false,
        vol: 62,
        pub_year: 2013,
        price: 700,
        feature: "特集 1980年以降に開業した鉄道",
        subjects: [
            "多摩都市モノレール、千葉都市モノレール、金沢シーサイドライン、国鉄・JRの新線開業",
            "現役会員執筆記事",
            "七尾線各駅停車の旅、西武・電車フェスタ 2013、ほか",
        ],
        out_of_stock: false,
    }
) %>

<%- include('partial/mairo_list.ejs.html',
    {
        new_item: false,
        vol: 61,
        pub_year: 2012,
        price: 700,
        feature: "特集 閑散路線",
        subjects: [
            "北海道の駅、南武支線、十和田観光電鉄、上武鉄道",
            "現役会員執筆記事",
            "OB執筆記事",
            "車両運転体験、車掌シミュレータ、ほか",
        ],
        out_of_stock: false,
    }
) %>

<%- include('partial/mairo_list.ejs.html',
    {
        new_item: false,
        vol: 60,
        pub_year: 2011,
        price: 700,
        feature: "特集 京浜急行",
        subjects: [
            "空港線、逗子線、本線浦賀方面レポート",
            "現役会員執筆記事",
            "OB執筆記事",
            "マイロネフ60号記念記事(全巻目録) 他",
        ],
        out_of_stock: true,
    }
) %>

<%- include('partial/mairo_list.ejs.html',
    {
        new_item: false,
        vol: 59,
        pub_year: 2010,
        price: 500,
        feature: "特集 ローカル線の駅",
        subjects: [
            "因美線の駅、飯田線の駅",
            "現役会員執筆記事",
            "OB執筆記事",
        ],
        out_of_stock: false,
    }
) %>

<%- include('partial/footer.ejs.html') %>