body{
    background-color:#EEEEEE;
}

h1, h1 a{
    text-align:right;
    text-decoration:none;
    margin:0;
    color: white;
    text-shadow: black 1px 1px 10px, black -1px 1px 10px, black 1px -1px 10px, black -1px -1px 10px;
}
.text{
    display: inline-block;
}
.title{
    background-image:url('img/top.jpg');
    height: 200px;
    text-align:right;
}

h2, h3, h4{
    clear:both;
}

h2, h3{	
    background-color: #00DD77;
    color: white;
    font-size: 20px;
    margin-top: 0px;
    border-bottom: 4px solid #888888;
}

h2{
    padding:0.2em 1em;
    font-size:130%;
}
h3{
    padding-left:20px;
}
h4{
    padding-left:20px;
    margin: 0 10px 0.4em 10px;
    padding: 0.2em;
    font-size: 150%;
    text-align: center;
    background-color: #EEFFEE;
    color: #00DD44;
    border-bottom: 4px solid #EEEEEE;
}

p{
    margin: 1em;
    text-indent:0.5em;
}
b{
    font-size:130%;
}

div#twitter{
    width: 290px;
    height: 610px;
}

p.right{
    text-align:right;
}

span.new{
	color: red;
	font-size: 120%;
	margin-left: 1em;
}

img.cover{
    float: left; 
    margin-right: 2em; 
    margin-bottom: 1em;
    border: 1px solid gray;
}

.frame {		
    background-color: #FFFFFF;
    border-style:none;
    text-align:left;
    overflow: auto;
    padding: 0 3% 30px 3%;
    margin: 0 auto;
}

.frame ,.cb{
    max-width:900px;
    min-width:700px;
}

.frame3 {
    margin-top:1%;
    margin-bottom:1%;
    border:1px solid #EEEEEE;
    overflow: auto;
    border-radius:4px;
    display: block;
}

.frame_right{
    margin-bottom:1%;
    min-width:250px;
    width:32%;
    margin-left:1.6%;	
    float:right;
    border:1px solid #EEEEEE;
    overflow: auto;
    border-radius:4px;
}

.ob{
    margin-bottom:1%;
    border:1px solid #EEEEEE;
    overflow: auto;
    border-radius:4px;
}

.aboutmairo {
    display: flex;
    overflow: auto;
    clear:both;
    margin-top:0px;
    margin-bottom:1em;
}

.aboutmairo img{
    height: 100px;
    width: auto;
}

li {
    margin: 0.5em;
}
ul.top{
    display: table;
    table-layout: fixed;
    padding: 0;
    margin: 4px 0;
    width: 100%;
}
ul.top li{
    display: table-cell;
    padding: 5px;
}
ul.top li a{
    display: block;
    padding: 0.5em 0;
    margin: 2px 0;
    font-size:140%;
    text-align:center;
    text-decoration:none;
    color: white;
    border-radius:4px;
}
ul.top li:nth-child(1) a{
    background-color: rgba(194,151,18,100);
}
ul.top li:nth-child(2) a{
    background-color: rgba(63,194,18,100);
}
ul.top li:nth-child(3) a{
    background-color: rgba(18,194,151,100);
}

ul.top li a:hover{
    background-color: #888888;
}
ul.top li a:visited{
    color: white;
}

/* 下部奥付 */
.cb{
    font-size:70%;
    margin:0 auto;
    text-indent:0;
    background-color: #333333;
    color: #FFFFFF;
    padding: 1.2em 3%;
    clear:both;
}

div#maironefu381{
    float: right;
    margin: 0.5em; 
    padding: 5px; 
    width: 320px; 
    max-width: 40vw;
    background: #FFFFCC; 
    border: 2px solid #FFAA00;
    border-radius: 5px;
    font-size: 80%;
    text-align: center;
}
div#maironefu381 p{
    margin:0.6em 1em;
    text-align: left;
}
img#m381{
	height: auto;
	max-width: 300px;
}

@media (min-width:781px){
    h1{
        font-size:45px;
        padding: 0.2em 0.5em;
    }
}
@media (max-width:780px){
    h1{
        padding: 1.5em 0.5em;
    }
    img,div{
        max-width:100% !important;
    }
    img.cover{
        float: left;
        max-height: 200px;
    }
    div#maironefu381{
        max-width:90%;
    }
    .aboutmairo{
        display: block;
    }
    span.new{
        font-size:90%
    }
    .frame ,.cb{
        min-width: 200px;
    }
    .frame3{
        
    }
    .frame4{
        width:99%;
        margin-left:0;
    }
    ul.top li{
        display:block;
        margin: auto;
        width: 90%;
        font-size:90%;
    }
    div#twitter{
        display: none;
    }
}
